---
layout: default
title: Jordan Silton - Product, SEO, & Innovation
description: Hi, I'm Jordan. I have a passion for developing exceptional teams, building innovative products, and solving complex business problems. I play tennis and soccer, love sailing, and enjoy cooking.
redirect_from:
  - /about
  - /@jsilton
---

<div class="row headline">
    <div class="twelve columns">
        <h1>{{ site.name }}</h1>
    </div>
</div>

<hr>

<div class="row">
    <div class="four columns">
        <div class="row">
            <h2>About Me</h2>
            <div class="subhead">
                <p>Product, SEO, Innovation</p>
            </div>
        </div>
    </div>
    <div class="eight columns">
        <p>Hi, I'm Jordan. I have a passion for developing exceptional teams, building innovative products, and solving complex business problems. I play tennis and soccer, love sailing, and enjoy cooking.</p>
        <p>I am Senior Director of Product, SEO at CoStar Group (Nasdaq: CSGP), the leading provider of commercial real estate information, analytics and online marketplaces. I lead the product team including product management, user experience (UX) design, search engine optimization (SEO), and content for the Apartments.com Network of rental marketplaces.</p>
        <p>Before working at Apartments.com, I crafted and executed SEO, analytics, paid search, retargeting, and additional digital marketing strategies for clients such as Alston & Bird, AT&T U-verse, Atlanta Ballet, Ashton Woods Homes, Cartoon Network, GameStop, Kimberly-Clark, Lowe’s, NASCAR and Zaxby’s while at Search Discovery and Relevance Advisors.</p>
        <p>For school, I attended Emory University and hold a bachelor’s in business administration with concentrations in Marketing and Organization and Management from the Goizueta Business School and a minor in Theater Studies from Emory College.</p>
    </div>
</div>

{% include expertise.html %}

{% include articles.html %}

{% include speaking.html %}