<hr>

<div class="row">
    <div class="four columns">
        <h2>Community</h2>
        <div class="subhead">
            <p>Board service and volunteering</p>
        </div>
    </div>
    <div class="eight columns">
        <ul>
            <li><strong>Parkside Foundation Inc.</strong> - Treasurer, Board of Directors (2025 - Present)</li>
            <li><strong>TAG Technology Awards</strong> - Judge (2024 - 2025)</li>
            <li><strong>True Colors Theatre Company</strong> - Board Member (2024 - 2025)</li>
            <li><strong>Effie Awards</strong> - Judge (2021 - 2024)</li>
            <li><strong>In the Lab Product Management</strong> - Mentor (2023 - 2024)</li>
            <li><strong>Emory Alumni Association</strong> - Board Member &amp; Marketing Committee (2009 - 2016)</li>
        </ul>
    </div>
</div>
