<hr>

<div class="row">
    <div class="four columns">
        <h2>Expertise</h2>
        <div class="subhead">
            <p>Creative thinker, dedicated problem solver, accomplished leader.</p>
        </div>
    </div>
    <div class="four columns">
        <ul>
            <li>Product Leadership &amp; Strategy</li>
            <li>Organizational Management &amp; Leadership</li>
            <li>Search Engine Optimization (SEO)</li>
            <li>Data Science &amp; Analytics Strategy</li>
            <li>Experimentation &amp; Website Testing</li>
            <li>Content Strategy &amp; Content Marketing</li>
            <li>Digital Analytics &amp; Tag Management</li>
        </ul>
    </div>
    <div class="four columns">
        <ul>
            <li>Product Management &amp; Growth</li>
            <li>User Experience &amp; Interface Design (UX/UI)</li>
            <li>Agile Principles &amp; Scrum Methodology</li>
            <li>Digital &amp; Interactive Marketing</li>
            <li>Online Reputation Management</li>
            <li>Paid Search (PPC, Pay-Per-Click)</li>
            <li>Retargeting (Remarketing)</li>
        </ul>
    </div>
</div> 