<hr>

<div class="row">
    <div class="four columns">
        <h2>Expertise</h2>
        <div class="subhead">
            <p>Creative thinker, dedicated problem solver, accomplished leader.</p>
        </div>
    </div>
    <div class="eight columns">
        <ul>
            <li>Product Strategy &amp; Leadership</li>
            <li>Marketing &amp; Demand Generation</li>
            <li>User Experience Design (UX/UI)</li>
            <li>SEO, SEM &amp; Digital Advertising</li>
            <li>Experimentation &amp; A/B Testing</li>
            <li>Conversion Optimization (CRO)</li>
            <li>Agile Product Development</li>
            <li>AI/ML, Analytics &amp; Data Science</li>
            <li>Storytelling &amp; Data Visualization</li>
        </ul>
    </div>
</div> 