<hr>

<div class="row">
    <div class="four columns">
        <h2>Speaking</h2>
        <div class="subhead">
            <p>A selection of my speaking appearances</p>
        </div>
    </div>
    <div class="eight columns">
        <ul>
            <li><strong>Apartment Internet Marketing (AIM) Reinvent</strong> - Virtual (August 2021)</li>
            <li><strong>Apartments.com Spring Multifamily Insights Forum</strong> - Virtual (April 2021)</li>
            <li><strong>Botify Crawl2Convert</strong> - Virtual (October 2020)</li>
            <li><strong>Apartments.com Live</strong> - Virtual (June 2020)</li>
            <li><strong>TechSEOBoost</strong> - Boston, MA (December 2019)</li>
            <li><strong>Advanced Search Summit</strong> - Washington, DC (September 2019)</li>
            <li><strong>Internet Retailer (IRCE)</strong> - Chicago, IL (June 2019)</li>
            <li><strong>Next10X</strong> - Boston, MA (May 2019)</li>
            <li><strong>SMX West</strong> - San Jose, CA (January 2019)</li>
            <li><strong>STAT City Crawl</strong> - Austin, TX (2018)</li>
            <li><strong>Village Workshop @ Atlanta Tech Village</strong> - Atlanta, GA (2016, 2015)</li>
            <li><strong>SuperNova South</strong> - Atlanta, GA (2015)</li>
            <li><strong>National Arts Marketing Project Conference (NAMPC)</strong> - Atlanta, GA (2014)</li>
            <li><strong>SouthWired</strong> - Atlanta, GA (2014)</li>
            <li><strong>Arts Marketing Roundtable</strong> - Atlanta, GA (2011)</li>
        </ul>
    </div>
</div>