<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} | JordanSilton.com</title>
		<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		<meta name="author" content="Jordan Silton">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ '/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
		{% include analytics.html %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/speaking/">Speaking</a></li>
        		<li><a href="/articles/">Articles</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div>
		<footer class="site-footer">
			<ul>
				<li><a href="https://www.linkedin.com/in/jsilton/">LinkedIn</a></li>
				<li><a href="https://twitter.com/jsilton">Twitter</a></li>
				<li><a href="https://www.instagram.com/jsilton/">Instagram</a></li>
				<li><a href="https://github.com/jsilton">GitHub</a></li>
				<li><a href="https://medium.com/@jsilton">Medium</a></li>
			</ul>
		</footer>
	</body>
</html>