<!DOCTYPE html>
<html>
	<head>
        <title>{{ page.title }} | JordanSilton.com</title>
        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include analytics.html %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/speaking/">Speaking</a></li>
        		<li><a href="/articles/">Articles</a></li>
    		</ul>
		</nav>
        <div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
                <li><a href="https://www.linkedin.com/in/jsilton/">LinkedIn</a></li>
                <li><a href="https://twitter.com/jsilton">Twitter</a></li>
                <li><a href="https://www.instagram.com/jsilton/">Instagram</a></li>
                <li><a href="https://github.com/jsilton">GitHub</a></li>
                <li><a href="https://medium.com/@jsilton">Medium</a></li>
			</ul>
		</footer>
	</body>
</html>